*.egg-info
*.lock
*.old
*.pyc
*.pyo
*.vim
*/__pycache__
.*
__pycache__
__pypackages__
_version.py
build
coverage.json
coverage.xml
dist
env
ez_setup.py
hornet.egg-info
htmlcov
log.org
setuptools-*
tags
