[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
toolz = "*"
codegen = "*"

[dev-packages]
coverage = "*"
flake8 = "*"
mccabe = "*"
neotest = "*"
neovim = "*"
pytest = "*"
pytest-cov = "*"
pytest-flake8 = "*"
setuptools = "*"
tomli = "*"
versioneer = "*"

[requires]
python_version = "3.10"
